<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Tetra Pac C02 iframe</title>
</head>
<body style="background-color:#eee;font-family:Verdana,Arial,sans-serif;text-align:center;">
    <p>Iframe on .com:</p>
    <iframe src="/Templates/Pages/ImagePage.aspx" style="display:block;width:940px;height:780px;margin:0 auto;overflow:hidden;border:0;"></iframe>
    <p>iPad</p>
    <iframe src="/Templates/Pages/ImagePage.aspx" style="display:block;width:768px;height:1024px;margin:0 auto;overflow:hidden;border:0;"></iframe>
    <p>iPhone 5</p>
    <iframe src="/Templates/Pages/ImagePage.aspx" style="display:block;width:640px;height:1136px;margin:0 auto;overflow:hidden;border:0;"></iframe>
    <p>iPhone 4</p>
    <iframe src="/Templates/Pages/ImagePage.aspx" style="display:block;width:640px;height:960px;margin:0 auto;overflow:hidden;border:0;"></iframe>
</body>
</html>